<app-header></app-header>

<main>
  <section class="section-main">
   <div class="main-content">
    <h1 class="main-title">
      Get started your exciting <span>journey</span> with us.
    </h1>
    <p class="main-text">
      A Team of experienced tourism professionals will provide you with the best advice and tips for your desire place.
    </p>
    <a href="" class="main-button">
      Discover Now
    </a>
   </div>
   <img ngSrc="assets/main.png" priority width="785" height="585"/>
  </section>

</main>
